<head>
    <link rel="stylesheet" href="/header.css">
</head>
<header class="header">
    <div class="container">
      <div class="logo">
        <h1>University Name</h1>
      </div>
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item"><a href="/facultyDirectory">Faculty Directory</a></li>
          <li class="nav-item"><a href="/course-listings">Course Listings</a></li>
          <li class="nav-item"><a href="#feedback-form">Feedback Form</a></li>
          <li class="nav-item"><a href="#appointment-scheduling">Appointment Scheduling</a></li>
        </ul>
      </nav>
    </div>
  </header>
  